#popup {
  position: relative;
  top: 50vh;
  left: 30vw;
  display: block;
  width: 30%;
  height: 200px;
  background-color: green;
}

p {
  position: relative;
  text-align: center;
  top: 100px;
  font-size: 30px;
}